/*Fonts Used*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i|Open+Sans:400,400i');

:root {
	--priColor: #5627af; 
	--secColor:#0da200; 
	--priFont: 'Samsung Sharp Sans'; 
	--bodyFont:'Poppins', sans-serif;
	--bodyColor:#333; 
	--bodyFontSize:16px; 
	--bodyLineHeight:26px;
}

*, *:before, *:after { box-sizing: border-box; -moz-box-sizing: border-box; image-rendering: -webkit-optimize-contrast;}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup,  menu, nav, output, ruby, section, summary, time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline; -webkit-text-size-adjust: 100%;}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: '';content: none;}
table {border-collapse: collapse;border-spacing: 0;}
button, html input[type=button], input[type=reset], input[type=submit] { -webkit-appearance: button; cursor: pointer; }
input:not([type='radio']):not([type='checkbox']), textarea, select{-webkit-appearance: none;}
form, label {-webkit-text-size-adjust: 100%;}
mark {background-color: transparent;color:inherit;}
/* end reset */

/*preset*/
html, body{overflow-x: hidden;}
body{font-family: var(--bodyFont); font-size: var(--bodyFontSize); line-height: var(--bodyLineHeight);color: var(--bodyColor);position:relative; max-width: 1920px; margin: auto;}
body h2, .h1_title{font-size: 25px;font-weight: bold;line-height: 100%;font-family: var(--priFont);}
body h2 small, .h1_title small{font-size: 18px;font-weight: normal;display: block;line-height: 100%;}
body.active{overflow: hidden;width:100%;height:100%;position:fixed!important;}
a{ text-decoration:none;}
img{max-width: 100%; vertical-align: top; image-rendering: -webkit-optimize-contrast;}
textarea { resize:vertical; }
iframe{ border: none; width: 100%;}
ul, h1, h2, h3, h4{ margin:0; padding:0; list-style:none; }
strong , b{ font-weight: bold;}
em, i{font-style: italic;}
input[type="submit"]{cursor: pointer;}
a[href^="tel:"]{color: inherit!important; text-decoration: none;}
a[href^="tel:"]:hover { text-decoration: underline; }

.clearfix:before, .clearfix:after { content:""; display: table; clear: both; }
.clearfix {clear: both; overflow: hidden;}
.comp{color:var(--priColor); font-weight:bold; }
.upcoming{color:red; font-style:italic; font-weight:bold;}
.col2{-webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col3{-webkit-column-count: 3; -moz-column-count: 3; column-count: 3; -webkit-column-gap: 10px; -moz-column-gap: 10px;  column-gap: 10px;}
.col2 li, .col3 li{display: inline-block; width: 100%;}
.main_phone {font-weight: bold;}
.grid_col2 { display: grid; grid-template-columns: 1fr 1fr; gap: 5px 20px; } 

.back_top{display:none;background:var(--priColor);position: fixed; z-index:999;bottom:0;width: 100%;height: 45px;cursor:pointer;}
.back_top:before{content:"";position:absolute;top:45%;left:50%;transform:translate(-50%,-45%);border-bottom:15px solid #fff;border-left:10px solid transparent;border-right:10px solid transparent;}
.back_top:hover{opacity:.7}

/*Heading for SEO*/
.h1_hdng{font-size: 22px; font-weight: 700; color: #000;}

/*Thumbnail Images*/
.thumb_left_dd, .thumb_left_dr{  float:left; margin:0px 19px 10px 0;}
.thumb_right_dd, .thumb_right_dr{ float:right; margin:0px 0 10px 19px;}
.thumb_center_dd, .thumb_center_dr{ display: block; margin: 10px auto;}

/* Text Alignment */
.text_left, .text_left p{text-align: left;}
.text_right, .text_right p{text-align: right;}
.text_center,.text_center p{text-align: center; display: block;}

/* Forms Presets */
::-webkit-input-placeholder {opacity: 1; color: inherit;}
::-moz-placeholder {opacity: 1; color: inherit;}
:-ms-input-placeholder {opacity: 1; color: inherit;}
:-moz-placeholder {opacity: 1; color: inherit;}

/*end preset*/

/* body::after {  content: url(images/screenshot.jpg);  position: absolute; top: 0; height: 100%; width: 100%; opacity: .22; pointer-events: none; z-index: 999; } */

.wrapper{ width:100%; max-width:1375px; margin:0 auto; position:relative;}
.flexcon{display:flex; justify-content: space-between;}
.heading{}
.hdng_small{}
.hdng_span{}
.btn{display:block;width:135px;height:44px;line-height:34px;background:var(--priColor);font-size:16px;color:#fff;text-align:center;margin: 0 auto;border-radius: 15px;padding: 5px;}
.btn span{}
.btn span:after{}

/*  hovers */
.btn:hover{background:#ddd;}
/*  end hovers */

/****************************************** HEADER ******************************************/
	header{padding: 0 10px;}
	.header_con{min-height:0;padding:0;}
	.main_logo{position: fixed; left: 0; top: 20px; z-index: 999; width: 87px;max-width: 100%;}
	.main_logo img{/*! min-height: -1px; */}

	.head_info{ text-align: left;display: flex;justify-content: end;column-gap: 64px;font-weight: 300;align-items: center;width: calc(100% - 240px);margin: 0 0 0 auto;/*! z-index: 999; */position: relative;z-index: 999;/*! margin: 10px 0; */}
	.header_info {}
	.header_info ul{display: flex;column-gap: 62px;}
	.header_info ul li {line-height: 26.87px;position: relative;padding-left: 66px;}
	.header_info ul li span{}
	.header_info ul li mark{}
	.header_info ul li a{color: inherit;}
	.header_info ul li:before {  position: absolute; left: 0; top: 1px; }
	.header_info ul li:first-child:before{content: url(images/header-icon1.png);}
	.header_info ul li:last-child:before{content: url(images/header-icon2.png);}
	.header_info ul li a:hover { text-decoration: underline; }

	.social_media{display: flex;gap: 10px;align-items: center;margin: 10px 0;}
	.social_media h3{}
	.social_media ul { display: flex; gap: 5px;}
	.social_media ul li{display:inline-block;vertical-align:top;}
	.social_media ul li a{display:block;}
	.social_media ul li a:hover img{opacity:0.5;}

     /******************* GTRANS**************/
	.gtrans{width: 100%;max-width: 160px;position: relative;height: 32px;}
	.gtrans::before{content: url(images/icons/g-icon.png); position: absolute; left: 0; top: 0;}
	.gtrans select{width: 125px; height: 33px; background: url(images/icons/g-arrow.png) no-repeat 98%,#fff; border: 1px solid #e5e5e5; border-radius: 4px; font-family: var(--primary-font); font-weight: 400; font-style: normal; font-size: 16px; color: #b4b4b4; padding: 0 5px; position: relative; margin-left: 35px; cursor: pointer; position: absolute; left: 0; top: 0;}
      /****** END GTRANS **********/
/****************************************** END HEADER ******************************************/

/****************************************** NAV ******************************************/
	.page_nav {background: var(--priColor); height: 60px; text-align: center;padding: 0 10px;}
	.page_nav ul{}
	.page_nav ul li{display:inline-block;vertical-align: top; position:relative; padding:0 15px;}
	.page_nav ul li a{display:block; font-size: 15px; font-weight: bold; color:#fff; text-transform: uppercase; line-height: 58px; }
	.page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a{text-decoration: underline;}
	.page_nav ul li:after{content:"";width:1px;height:22px;background:#000; position:absolute; top:18px; right:-4px;}
	.page_nav ul li:last-child:after{display:none;}
	.page_nav ul li:first-child{padding-left:0;}
	.page_nav ul li:last-child{padding-right:0;}


/*second level drop down*/
	.page_nav ul li:hover{position: relative; z-index: 599; cursor: default;}
	.page_nav ul ul {display: none; position: absolute; top: 100%; left: 50%; transform: translateX(-50%); z-index: 598; width: 200px;margin-top: 0;text-transform: none;}
	.page_nav ul ul li {float: none;display:block;font-weight: normal;width:100%;}
	.page_nav ul ul ul {top: 0; left: auto; right: -99.5%; }
	.page_nav ul li:hover > ul { display: block;}

	.page_nav ul ul { left: -50px; width: 240px; text-align: center; }
	.page_nav ul ul li { padding: 0; }
	.page_nav ul ul li a {background: var(--priColor);border: 1px solid #fff; color: #fff;}
	.page_nav ul ul a:hover,.page_nav ul li.current_page_item ul li > a:hover, .page_nav ul ul li.current_page_item > a {background:var(--secColor); text-decoration: none;}
	.page_nav ul ul li a::before { display: none; }

/*third level drop down*/
	.page_nav ul ul ul { border-top: 0 none; }
	.page_nav ul ul li { position: relative }

	.page_nav span{position: absolute; right: 25px;top:32px; display: none; padding: 0; cursor: pointer; z-index: 9; color: #fff;text-align: center;}

/* Drop down icon */
	.fa{display:block; margin-top: -3px;}
	.fa:before{position: absolute;}

/* Navigation bar icon */
	.nav_toggle_button{display:none; text-align:left;position:relative;}
	.nav_toggle_button.active {opacity:1;}
	.nav_toggle_button i{cursor: pointer;}

/*Burger Color*/
	.nav_toggle_button .toggle_holder{position: absolute;top: 60%;right: 0;transform: translateY(-50%);}
	.nav_toggle_button .hamburger{}
	.nav_toggle_button .hamburger-inner, .nav_toggle_button .hamburger-inner:before, .nav_toggle_button .hamburger-inner:after{background:#fff;}
	.nav_toggle_button small{text-transform:uppercase;font-weight:bold;font-size:13px;color:#fff;display:block; text-align: center; line-height: 100%;}

/* Default Responsive Style for Toggle Swipe Right */
	.menu_slide_right {display: none;}

/*Responsive burger and color*/
	.menu_slide_right .hamburger-inner, .menu_slide_right .hamburger-inner:before, .menu_slide_right .hamburger-inner:after{background:#000;}
	.menu_slide_right .toggle_holder{position: absolute;top: 55%;right: 10px;transform: translateY(-50%);}
	.menu_slide_right small{text-transform:uppercase;color:#000;font-weight:bold;font-size:13px;display:block;text-align: center; line-height: 100%;}

/****************************************** END NAV ******************************************/

/****************************************** BANNER ******************************************/
	#banner{position: relative;}
	.bnr_con{min-height:0;padding:0;}
	.box_skitter{}
	.slider{width:1920px;margin-left:50%;transform: translateX(-50%);}
	.slider:before {content:''; background: url(images/bnr-overlay.png) repeat-y center; background-size: 100% 100%; left: 0; bottom: 0; position: absolute; width: 1920px; height: 100%; z-index:150;}
	.mobi_ban{display: none;}
	.rslides{display: none;}

	.bnr_info{width:478px;max-width:100%;position:absolute;top:50%;left:20%;z-index:150;transform: translate(-50%,-50%);}
	.bnr_info h2{font-size: 30px;color: #fff;}
	.bnr_info h2 small{display: inline;padding: 10px;font-size: 25px;}
	.bnr_info h2 span{display:inline;}
	.bnr_info p{font-size: 18px;color: #fff;margin: 15px 0;}
	.bnr_info a{margin: 0 auto 0 0;/*! padding: ; */}
	.bnr_button { display: flex; margin: 10px 80px 0 0;}
	.text-animation{font-size: 34px; font-weight: 600; min-width: 280px;margin: 20px 0;}
	.text-animation span{ position: relative;}
	.text-animation span::before{ content: "Web Developer"; color: var(--secColor); animation: words 20s infinite;}
	.text-animation span:after{content: ""; background-color: #fff; position: absolute; width: calc(100% + 8px); height: 100%; border-left: 3px solid var(--bodyColor);
		 right: -8px; animation: cursor 0.6s infinite, typing 20s steps(14) infinite;}
	@keyframes cursor{
		to{
			border-left: 2px solid var(--secColor);
		}
	}	
	
	@keyframes words{
		0%,
		20%{  content: "FrontEnd Designer";

		}
		21%,
		40%{
			content: "Web Designer";
		}
		41%,
		60%{
			content: "Web Developer";
		}
		61%,
		80%{
			content: "Xara Design";
		}
		81%,
		100%{
			content: "Frontend Developer";
		}
	}
	@keyframes typing{
		10%,
		15%,
		30%,
		35%,
		50%,
		55%,
		70%,
		75%,
		90%,
		95%{
			width: 0;
		}
		5%,
		20%,
		25%,
		40%,
		45%,
		60%,
		65%,
		80%,
		85%{
			width: calc(100% + 8px);
		}

	}
/****************************************** END BANNER ******************************************/

/****************************************** MIDDLE ******************************************/
	#middle{background:#d9dcc4;padding: 0 10px;}
	.middle_con{min-height:0;padding:25px 0;text-align:center;}
	.middle_boxes{display: flex; justify-content: space-between;}
	.middle_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 10px;background: burlywood; position: relative;}
	.middle_boxes section h2{}
	.middle_boxes section h2 small{}
	.middle_boxes section h2 span{}
	.middle_boxes section p{}
	.middle_boxes section a{display:block;width:;height:;background:#;}
	.middle_boxes section a:hover{}

	.mid_info { }
	.mid_info h2{}
	.mid_info h2 small{}
	.mid_info p{}
	.mid_info a{}
	/* .middle_boxes [class^="mid_box"]{} */
/****************************************** MIDDLE ******************************************/

/****************************************** MAIN AREA ******************************************/
	#main_area{padding: 0 10px;}
	.main_con{min-height:500px;padding:25px 0; }
	main{ width: 660px;  max-width: 100%; text-align: left;margin: 100px 0 100px auto;}
	main .h1_title{ margin-bottom:15px;/*! font-size: 20px; */}
	main .h1_title small{  margin: 10px 0;font-size: 26px;}
	main .h1_title span{}

	main p{margin-bottom:25px;}
	main ol{padding-left: 20px; margin-bottom: 25px;}
	main ul li{position: relative;}
	main .bullet {padding:0;margin-bottom: 25px;}
	main .bullet li{position:relative;padding-left: 25px;margin-bottom: 8px}
	main .bullet li:before{position: absolute;content: "";width: 10px;height: 10px;border-radius: 50%;left: 3px;top: 9px;background: var(--priColor);}
	main a{font-weight: bold; color: var(--priColor);text-decoration: none;}
	main a:hover{color:#000;text-decoration: underline;}

	#breadcrumbs{border-bottom: 1px dashed gray;padding-bottom: 10px;margin-bottom: 30px;}
	.intro_txt{text-align: center;width:80%;margin:0 auto 25px;padding: 15px;font-weight: bold;font-size: 22px; border-bottom: 3px solid var(--priColor);}
/****************************************** END MAIN AREA ******************************************/

/****************************************** SIDEBAR ******************************************/
	.sidebar{ width: 320px;position: absolute;left: 180px;top: 50%;transform: translateY(-50%);}
	.sidebar section{position: relative;text-align: center;}
	.sidebar section h2{}
	.sidebar section h2 small{}
	.sidebar section h2 span{}
	.sidebar section p{}
	.sidebar section a{}

	.sidebar figure{}
	.sidebar figure img{border-radius: 50%;}
/****************************************** END SIDEBAR ******************************************/

/****************************************** BOTTOM ******************************************/
	#bottom1{background:#c4d5dc;padding: 0 10px;}
	.btm1_fixed{top:0; left:0; right:0; position:fixed;}
	.btm1_con{min-height:0;padding:25px 0;text-align:center;}
	.btm1_boxes{display: flex; /*! justify-content: space-between; */justify-content: space-evenly;}
	.btm1_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 40px;background: var(--priColor);position: relative;color: #fff;/*! marin: 20px 0; */margin: 60px 0;/*! border: beige; */border-radius: 25px;/*! box-shadow: 0 0 0.5 #000; */box-shadow: 10px 10px 5px #aaaaaa;}
	.btm1_boxes section h2{}
	.btm1_boxes section h2 small{}
	.btm1_boxes section h2 span{}
	.btm1_boxes section p{}
	.btm1_boxes section a{display:block;width:;height:;background:#;color: #fff;}
	.btm1_boxes section a:hover{}

	.btm1_info { }
	.btm1_info h2{font-size: 40px;color: var(--priColor);}
	.btm1_info h2 small{display: inline;font-size: 40px;font-weight: bold;}
	.btm1_info p{}
	.btm1_info a{}

	 /********************GAMITA NI KUNG MAG SUDO KA BEFORE OG AFTER NGA DAGHAN**************************/
	.btm1_boxes section:before{content: url(images/icons/btm1-1.png); position: absolute;left: 50%;transform: translateX(-50%);top: 58px;}
	.btm1_boxes section:nth-child(2):before{content: url(images/icons/btm1-2.png)}
	.btm1_boxes section:nth-child(3):before{content: url(images/icons/btm1-3.png)}
	.btm1_boxes section:last-child:before{content: url(images/icons/btm1-4.png)}

		 /**************************************END*************************************/

	/* .btm1_boxes [class^="btm1_box"]{} */

	#bottom2{padding: 0 10px; background: linear-gradient(138deg, rgba(86,39,175,0.944397742006959) 15%, rgba(183,185,255,0.9191876579733456) 79%, rgba(48,0,96,1) 100%);}
	.btm2_con{min-height:0;padding:25px 0;}
	.btm2_boxes{display: flex; justify-content: space-between;margin: 30px;color: #fff;/*! padding: ; */}
	.btm2_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 20px;background: linear-gradient(138deg, rgba(86,39,175,1) 49%, rgba(183,185,255,0.9191876579733456) 92%, rgba(48,0,96,1) 100%);position: relative;}
	.btm2_boxes section h2{}
	.btm2_boxes section h2 small{}
	.btm2_boxes section h2 span{}
	.btm2_boxes section p{}
	.btm2_boxes section a{display:block;width:;height:;background:#;}
	.btm2_boxes section a:hover{}

	.btm2_info { text-align: center;}
	.btm2_info h2{font-size: 40px;font-weight: bold;color: #fff;}
	.btm2_info h2 small{font-size: 40px;font-weight: bold;/*! display: inlie; */display: inline;}
	.btm2_info p{}
	.btm2_info a{}
	.btm2_boxes section ul { margin: 20px; }

	
	#bottom3{padding: 0 10px;background: var(--priColor);}
	.btm3_con{min-height:0;padding:25px 0;}
	.btm3_boxes{display: flex; justify-content: space-between;}
	.btm3_boxes section{display: inline-block; vertical-align: top;width: 50%;height: auto; background: linear-gradient(90deg, rgba(86,39,175,1) 13%, rgba(183,185,255,1) 50%, rgba(48,0,96,1) 94%); position: relative;}
	.btm3_boxes section h2{}
	.btm3_boxes section h2 small{}
	.btm3_boxes section h2 span{}
	.btm3_boxes section p{}
	.btm3_boxes section a{display:block;width:;height:;background:#;}
	.btm3_boxes section a:hover{}

	.btm3_info { text-align: center;margin: 15px 0 30px 0;}
	.btm3_info h2{font-size: 40px;color: #fff;}
	.btm3_info h2 small{font-size: 40px;display: inline;font-weight: bold;}
	.btm3_info p{}
	.btm3_info a{}
	.btm3_boxes figure img { width: 400px; height: 400px; }
	div.owl-item:nth-child(5) { margin-left: 120px; }
	.owl-stage { width: 7123px !important; }


	#submit_formmessage{display: flex;justify-content: space-between;flex-wrap: wrap;}
	#submit_formmessage input{}
	#submit_formmessage textarea{resize: none;overflow: auto;width: 35%;padding-top: 24px;} 
	#submit_formmessage input,#submit_formmessage textarea,#submit_formmessage button[type="submit"]{font-family: inherit;height: 69px;border: 1px solid #ccc;font-size: 18px;color: #191919;padding-left: 24px;}
	#submit_formmessage input[type="text"]{}
	#submit_formmessage input[type="email"]{}
	#submit_formmessage input[type="text"],#submit_formmessage input[type="email"]{width: 24%;}
	#submit_formmessage button[type="submit"]{font-family: inherit;border: none;padding: 0;width: 136px;background: #000;color: #fff;text-align: center;}
	#submit_formmessage button[type="submit"]:hover{}
	#submit_formmessage button[type="submit"]::after{content: ">";display: inline-block;vertical-align: middle;line-height: 100%;margin-left: 15px;}
	.captcha_btn {display: flex; gap: 10px;}
	.inputs{display: flex; justify-content: space-between; align-items: center;}

	#bottom4{}
	.btm4_con{min-height:0;padding:0;}
	.btm4_boxes{display: flex; justify-content: space-between;}
	.btm4_boxes section{display: inline-block; vertical-align: top;width: 32%;height: auto; padding: 10px;background: burlywood;position: relative;}
	.btm4_boxes section h2{}
	.btm4_boxes section h2 small{}
	.btm4_boxes section h2 span{}
	.btm4_boxes section p{}
	.btm4_boxes section a{display:block;width:;height:;background:#;}
	.btm4_boxes section a:hover{}

	.btm4_info { }
	.btm4_info h2{}
	.btm4_info h2 small{}
	.btm4_info p{}
	.btm4_info a{}
/****************************************** END BOTTOM ******************************************/

/****************************************** FOOTER ******************************************/
	footer{}
	.footer_top{background:#ccc;padding: 0 10px;}
	.footer_top_con{min-height:0;padding:25px 0;}

	.contact_details{}
	.contact_details h2{}
	.contact_details h2 small{}
	.contact_details h2 span{}
	.contact_details p{}
	.contact_details a{}

	.contact_info{text-align: center;}
	.contact_info h2{font-size: 50px;/*! font-weight: bold; */margin: 20px 0;}
	.contact_info p{}
	.contact_info h2 small{display:inline;font-size: 50px;font-weight: bold;}
	.contact_info h2 span{}
	.contact_info ul{margin:0 0 0;padding:0;list-style: none;}
	.contact_info ul li{line-height: 22px;display:block; vertical-align:top; white-space:pre-line;position:relative; padding-left:30px;font-size: 25px;margin: 20px 0;}
	.contact_info ul li address{display:inline-block;}
	.contact_info ul li address q{}
	.contact_info ul li h3{}
	.contact_info ul li mark{}
	.contact_info ul li span{}
	.contact_info ul li a{color: inherit;}
	.contact_info ul li a[href^="tel:"] {color: inherit;}
	.contact_info ul li a:hover{text-decoration:underline;}
	.contact_info ul li:before{position:absolute;}
	.contact_info ul li:first-child:before{content:url(images/loc.png);top:-5px;left:540px;}
	.contact_info ul li:nth-child(2):before{content:url(images/cp.png);top:-5px;left:510px;}
	.contact_info ul li:last-child:before{content:url(images/email.png);top:-2px; left:469px;}

	.logo_rights{}
	.footer_logo{}
	.footer_logo img{}

	.footer_btm{background:var(--priColor);padding: 0 10px;}
	.footer_btm_con{min-height:0;padding:25px 0;}

	.footer_nav{}
	.footer_nav h2{}
	.footer_nav h2 small{display:block;}
	.footer_nav h2 span{display:block;}
	.footer_nav ul{ margin: auto 0; padding: 0; text-align: center; list-style: none; }
	.footer_nav ul li{display: inline-block; vertical-align: top;position:relative;}
	.footer_nav ul li a{display: block; padding: 0 10px; color: #fff;}
	.footer_nav ul li a:hover, .footer_nav ul li a:active, .footer_nav ul li.current_page_item a{text-decoration:underline;}
	.footer_nav ul li:after{content:"";width:1px;height:21px;top:0;right:-3px;background:#fff;position:absolute;}
	.footer_nav ul li:last-child:after{display:none;}
	.footer_nav ul li:first-child{padding-left:0;}
	.footer_nav ul li:last-child{padding-right:0;}

	.footer_comp{display:inline-block; margin:0 10px; position:relative;}
	.footer_comp:before{content:"\2022"; left:-10px; top:0; position: absolute;}
	.footer_comp:after{content:"\2022"; right:-10px; top:0; position: absolute;}

	.copyright{color:#fff; margin: 0 auto;text-align: center;}
	.copyrigh_text:hover{text-decoration:none!important;}
	.copyright a{color:inherit;}
	.copyright a:hover{text-decoration:underline;}
/****************************************** END FOOTER ******************************************/


/**Resources**/
	.resources {}
	.resources a {display:block;font-weight:bold; -webkit-transition: all 0.3s linear; -moz-transition: all 0.3s linear; transition: all 0.3s linear;}
	.resources a:hover {padding-left:2px; text-decoration: none!important; color: var(--secColor);}
	.resources ul,.resources li {list-style-type:none; margin:0; padding:0;}
	.resources ul li {margin-bottom:8px; padding:12px; background:#FAFDFE;border:1px solid #ececec;}
	.resources ul li:before{content:"";}
	.resources ul li:after{content:"";}
	.resources ul li a span {font-size:11px; color:#666666; letter-spacing:1px; display:block; overflow-wrap: break-word;word-wrap: break-word;-webkit-hyphens: auto;-ms-hyphens: auto;-moz-hyphens: auto;hyphens: auto;}

	/* IE 8 */
	.lt-ie8 .dang-ie{width:100%;height:100%;position:fixed;background-color:#00abdd}
	.message{text-align:center;color:#fff;font-size:20px;position:absolute;top:20%;left:0;right:0}
	.inner-message{position:relative;top:-20%;left:0;right:0;text-align:center;margin:auto}
	.inner-message img{position:relative;left:0}
	.inner-message a.download{display:block;width:300px;padding:10px;color:#fff;margin:2em auto;border:1px solid #fff}
	.terms{color:#fff;font-size:13px;padding:20px;position:absolute;right:0;bottom:0}
	.terms a{color:#fff;font-weight:700}
	.lt-ie8 .protect-me{display:none}

/* Sitemap Style */
	.sitemap{list-style-type: none; padding: 0; -webkit-column-count: 2; -moz-column-count: 2; column-count: 2; -webkit-column-gap: 3px; -moz-column-gap: 3px;  column-gap: 3px;}
	.sitemap li {counter-increment: step-counter; overflow: hidden;}
	.sitemap li{padding:5px 15px; background: #E3E3E3;}
	.sitemap li:nth-child(odd){background: #F2F2F2;}
	.sitemap li a{display: block;}
	.sitemap li a:before {content: counter(step-counter) '. ';}

/* Pages under Certain Parent Pages */
	.sitemap ul {margin-top: 5px;}
	.sitemap ul li:nth-child(odd){background: #E3E3E3;}
	.sitemap ul li:nth-child(even){background: #F2F2F2;}
	.sitemap ul li {counter-increment: sub-counter;}
	.sitemap ul li a:before {content: counter(step-counter) '.' counter(sub-counter) ' ';}

/* Breadcrumb Styling */

	#breadcrumbs{border-bottom: 1px dashed gray;padding-bottom: 10px;margin-bottom: 30px;}
	#breadcrumbs span a{color:var(--priColor); font-weight: bold;}
	#breadcrumbs span a:hover { text-decoration: underline; }

	.breadcrumbs {margin-bottom: 34px; border-bottom: 1px dotted gray; padding-bottom: 11px; }
	.breadcrumbs span{vertical-align: bottom;display: inline-block; overflow: hidden;text-overflow: ellipsis;}
	.breadcrumbs span[property='name'] {display: inline-block;padding: 0;margin-top: -3px;vertical-align: middle;max-width: 270px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;color:#439b4f;}
	.breadcrumbs span[property='name']:hover {text-decoration: underline;}
	.breadcrumbs .post {background:transparent!important;border-radius: 0;padding: 0;margin: 0;border: none;word-wrap: normal;}
	.breadcrumbs span[class='post post-page current-item'] {display: inline-block;padding: 0;max-width: 250px;white-space: nowrap;}

/* End Breadcrumb Styling */

/* Non-home */
	.non_ban {position: relative;}
	.non_ban_img{width: 1920px;margin-left: 50%;transform:translateX(-50%);}
	.non_ban_img img{vertical-align:middle;height: auto;}

	.page_title{text-align: center;width: 100%;z-index: 2;position: relative;bottom: 0;font-size: 44px;line-height: 100%;padding: 15px;background: var(--priColor);color: #fff;}
	.page_title:before { width: 700px; position: absolute; left: -700px; background: inherit; content: ''; height: 100%; top: 0; } 
	.page_title:after { width: 700px; position: absolute; right: -700px; background: inherit; content: ''; height: 100%; top: 0; }
	.page_title h1{color: #fff; line-height: 100%;}


/* Form Activation Style (Recaptcha & Prompt Message) */
	.FormReq {box-shadow: 0 0 3px #d92800 !important; border: 1px solid #d92800 !important;}
	.captcha-box {margin-top: 0px;}
	.g-recaptcha{transform: scale(.8);transform-origin: 0 0;}
	#g-recaptcha-response {display: block !important;position: absolute;margin: -78px 0 0 0 !important;width: 302px !important;height: 76px !important;z-index: -999999;opacity: 0;}
	#error-msg {position: fixed;z-index: 9999;border: 1px solid;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}
	#error-msg .message {border: 1px solid;width: 500px;margin: 9% auto;background: #fff;position: relative;padding: 188px 10px 25px 10px;border-radius: 20px;max-width: 95%;}
	#error-msg .message span:nth-child(1){font-weight: bold;color: #ca4b4b;font-size: 25px;line-height: 20px;}
	#g-recaptcha-response .message span:nth-child(1) {font-weight: 900;color:  #ca4b4b;font-size: 32px;line-height: 40px;}
	#success {position: fixed;z-index: 9999;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}
	#recaptcha-error{position: fixed;z-index: 9999;border: 1px solid;background: rgb(0,0,0,0.4);width: 100%;height: 100%;left: 0;top: 0;}
	.message {border: 1px solid;width: 500px;margin: 9% auto;max-width: 95%;border-radius: 20px;padding: 188px 10px 25px 10px;background: #fff;position: relative;}
	.message span:nth-child(1) {font-weight: 900;color: #31af90;font-size: 26px;line-height: 27px;}
	.message span:nth-child(3) {font-size: 25px;line-height: 30px;color: #000;}
	.message span:nth-child(5) {line-height: 40px;font-size: 18px; color: #000;}
	.close, .rclose, .error-close { position: absolute; right: 24px; top: 10px; font-size: 30px; font-family: open sans; cursor: pointer;color: #333 !important; }
	#error-msg p, #success .message p{font-size: 30px !important;}
	.fail-check::after {content: url('images/wrong-icon.png');position: absolute;  left: 0; right: 0; top: 30px; } 
	.success-check:after{content:url('images/success-icon.png'); position: absolute;left: 0;right: 0;top: 30px;}
	#invalid-msg {display: none; background: #fcecec; padding: 10px; color: #ca4b4b; font-weight: bold;  margin-bottom: -10px; font-size: 14px;width: 100%; text-align: center;}


	.disclaimer { width: 100%; text-align: left;display: flex;align-items: center;gap: 10px;}
	.disclaimer a{color: var(--priColor); display: inline-block;}
	.disclaimer a:hover{text-decoration: underline;}
	.disclaimer input { height: 20px !important; width: 20px !important; margin:0 !important}
	.privacy_span { color: var(--priColor); }

	.bullet_con{}
	.bullet_con p{margin: 0 0 0;}

/* End Form Activation Styling */

	.nh_header{font-size: 1.35rem; font-weight: 600; margin-bottom: 15px; line-height:100%; font-family:var(--priFont)}
	.nh_subHeader { font-size: 1.10rem;font-weight: 600; margin-bottom: 15px; line-height:100%; font-family:var(--priFont)}
	.bullet_header { margin: 10px 0 15px; }
